/* general blocks */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header {
  margin-bottom: 2rem;
}

.container {
  max-width: 136.5rem;
  margin: 0 auto;
}

.third-title {
  margin: 0;
}

/* Header */

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 8rem;
  padding: 2rem;

  background-color: bisque;

  text-align: center;
}

.logo {
  color: green;
  font-size: 14px;
}

/* Workplace */

.workplace {
  margin-bottom: 2rem;
}

.workplace__container {
  height: 100%;
  width: 100%;

  background-color: bisque;
}

.flex-container-for-3-elemnts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2rem 4rem;
  gap: 1rem;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40rem;
  height: 48rem;
  padding: 2rem;

  background: beige;
}

.radius {
  border-radius: 20px;
}

img {
  max-width: 80%;
  object-fit: contain;
}

/* Footer */

.footer__container {
  height: 80px;
  padding: 20px;

  background-color: bisque;

  text-align: center;
}

@media (max-width: 1315px) {
  .flex-container-for-3-elemnts {
    justify-content: center;
  }
}

@media (max-width: 910px) {
  .flex-container-for-3-elemnts {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .person-card {
    width: 100%;
    max-width: 38rem;
  }
}

@media (max-width: 360px) {
  .person-card {
    height: 30rem;
  }
}
